extends ./layout.pug

block title
  title OpenWoZ

block content
  br
  .jumbotron
    h2 OpenWoZ
    p
      | The project involves developing a community-standard open-source framework for a Wizard-of-Oz (WoZ) system. WoZ is a common technique enabling Human-Robot Interaction researchers to explore aspects of interaction not yet backed by autonomous systems.
      br
      br 
      | The system will include a web application running on an embedded platform which controls a robotics system. It also includes a platform-agnostic client framework that gets updated from a user-accessible database. The system needs to be generic enough to ensure that new robot behavior can be added easily and during run-time.
    br
    .text-center
      a.btn-lg.btn-primary(href="/robots") Select a Robot!