extends ./layout.pug

block title
  title OpenWoZ - Robots

block content
  br
  h2.text-center Select a Robot
  .row-fluid
    each profile, pname in profiles
      a(href="/robots/"+pname)
        .col-md-4.col-md-offset-1
          .row-fluid
            .col-md-12.text-center
              h2 #{profile.profileName}
              img.img-responsive(src=profile.image,width="200px",height="300px",style="display: block;margin: 0 auto;")