extends ./layout.pug

block title
  title OpenWoZ - Robots

block content
  br
  h2.text-center Select Robot
  br
  .row-fluid
    each profile, pname in profiles
      a(href="/robots/"+pname)
        .col-md-4
          .row-fluid
            .col-md-12.text-center(style="border: 1px solid black;padding-bottom:30px;")
              h2 #{profile.profileName}
              img.img-responsive(src=profile.image,style="width:200px;height:300px;display: block;margin: 0 auto;")