extends layout

block body
  div
    h2 My Blog
    ul
      li
        a(href='/') Home
      li
        a(href='/profiles/view') Add Robot Profile

    div(ng-view)

  script(src='js/lib/angular.min.js')
  script(src='js/lib/angular-route.min.js')
  script(src='js/openwoz.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')