.equal, .equal > div[class*='col-'] {
	display: -webkit-flex; 
	display: flex; 
	flex:1 1 auto;
}
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -28px 0 0 -25px;
}